{% extends 'base.html' %}
{% block title %}
我的統計圖表
{% endblock %}
{% block titlemessage %}
<h1>
    收容數量統計圖
    <small class="text-muted">各縣市收容數量</small></h1>
{% endblock %}
{% block content %}

<br>
<center>
<button><a href="/keep/1">新北市</a></button>
<button><a href="/keep/2">臺北市</a></button>
<button><a href="/keep/3">臺中市</a></button>
<button><a href="/keep/4">臺南市</a></button>
<button><a href="/keep/5">高雄市</a></button>
<button><a href="/keep/6">桃園市</a></button>
</center>


<center>
<table width=800>
  <tr>
      <td>
            <canvas id="myChart" width="800" height="400"></canvas>
      </td>
    </tr>
</table>
</center>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
              {% for item in data %}
                  '{{ item.keep_year }}{{ item.city }}',
              {% endfor %}

        ],
        datasets: [{
            label: "歷年收養數量",
            data: [
                {% for item in data %}
                  '{{ item.keep_num }}',
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 4
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

    </script>
{% endblock %}